with_enemy_small_model/models/DQN_ship_against_enemy filter=lfs diff=lfs merge=lfs -text
with_enemy_small_model/models/DQN_ship_against_enemy_2 filter=lfs diff=lfs merge=lfs -text
with_enemy_small_model/models/DQN_ship_against_place26 filter=lfs diff=lfs merge=lfs -text
with_enemy_small_model/models/DQN_ship_big filter=lfs diff=lfs merge=lfs -text
with_enemy_small_model/models/DQN_ship_gather_results_new_reward filter=lfs diff=lfs merge=lfs -text
with_enemy_small_model/models/DQN_ship_small filter=lfs diff=lfs merge=lfs -text
mr_big/models/DQN_ship_big filter=lfs diff=lfs merge=lfs -text
mr_big/models/DQN_ship_other filter=lfs diff=lfs merge=lfs -text
mr_big/models/DQN_ship_small_test filter=lfs diff=lfs merge=lfs -text
mr_big/models/DQN_ship_small_test_new filter=lfs diff=lfs merge=lfs -text
mr_big/models/DQN_ship filter=lfs diff=lfs merge=lfs -text
2.0.1/models/DQN_ship_new_2 filter=lfs diff=lfs merge=lfs -text
2.0.1/models/DQN_ship_new_3 filter=lfs diff=lfs merge=lfs -text
2.0.1/models/DQN_ship_against_enemy filter=lfs diff=lfs merge=lfs -text
2.0.1/models/DQN_ship_against_enemy_2 filter=lfs diff=lfs merge=lfs -text
2.0.1/models/DQN_ship_against_place26 filter=lfs diff=lfs merge=lfs -text
2.0.1/models/DQN_ship_farmer filter=lfs diff=lfs merge=lfs -text
2.0.1/models/DQN_ship_gather_results_new_reward filter=lfs diff=lfs merge=lfs -text
2.0.1/models/DQN_ship_new filter=lfs diff=lfs merge=lfs -text
2.0.0/models/DQN_ship filter=lfs diff=lfs merge=lfs -text
2.0.0/models/DQN_ship_gather_results filter=lfs diff=lfs merge=lfs -text
2.0.0/models/DQN_ship_gather_results_more_ships filter=lfs diff=lfs merge=lfs -text
2.0.0/models/DQN_ship_gather_results_new_reward filter=lfs diff=lfs merge=lfs -text
2.0.0/models/DQN_ship_remember filter=lfs diff=lfs merge=lfs -text
1.0.0/models/DQN_ship filter=lfs diff=lfs merge=lfs -text
1.0.0/models/DQN_ship_farmer filter=lfs diff=lfs merge=lfs -text
1.0.0/models/DQN_ship_mac filter=lfs diff=lfs merge=lfs -text
